:root {
  --clr-font-dark: #000;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #280000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23fffff5' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  color: var(--clr-font-dark);
  font-family: "Playfair Display", serif;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 500;
  align-items: center;
  line-height: 1.5;
}

.quote-container {
  width: auto;
  max-width: 90rem;
  padding: 2.5rem 4rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.2);
}

.quote-text {
  font-size: 2.75rem;
  padding-bottom: 2rem;
}

.long-quote {
  font-size: 2.3rem;
}

.fa-quote-left {
  font-size: 4rem;
}

.quote-author {
  margin-top: 1.3rem;
  font-size: 2.3rem;
  font-weight: 800;
  letter-spacing: 2px;
  font-style: italic;
  font-family: "Playfair Display", serif;
  color: #160000;
}

.quote-author::before,
.quote-author::after {
  content: "\2014";
  padding: 1rem;
}

.button-container {
  margin-top: 1.6rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #160000;
  outline: none;
  padding: 2rem;
  box-shadow: 0 0.6rem 1rem rgba(22, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  font-family: inherit;
  font-weight: 500;
}

.btn:hover {
  filter: brightness(130%);
}

.btn:active {
  transform: translate(0, 0.6rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.3);
}

.btn-twitter:hover {
  color: #38a1f3;
}

.icon-twitter {
  font-size: 2rem;
}

.btn-quote {
  font-size: 1.75rem;
}

/* Loader */

.loader {
  border: 16px solid #d2d2d2;
  border-top: 16px solid #222;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Query: Tabler or Smaller */
@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 1.5rem;
  }

  .quote-text {
    font-size: 2.3rem;
  }
}
